@model List<ExaminationSystem.Entities.Exam>

<h2>Available Exams</h2>

<table class="table">
    @foreach (var exam in Model)
    {
        <tr>
            <td>@exam.Title</td>
            <td>@exam.DurationInMinutes min</td>
            <td>
                <a asp-action="StartExam" asp-route-examId="@exam.Id" class="btn">
                    Start
                </a>
            </td>
        </tr>
    }
</table>
